
<style>

    .primary-btn:focus,
    .secondary-btn:focus {
        outline: 1px solid blue !important;
        box-shadow: none !important;
    }
    /*PRIMARY BTN*/
    .primary-btn {
        background-color: #EBE3D8;
        border: 2px solid #911627;
        border-radius: 6px;
        padding: 2px;
        cursor: pointer;
        transition: background-color 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .primary-btn  .text-wrap {
        background-color: #911627;
        color: #EBE3D8;
        font-family: 'Alef', sans-serif;
        font-weight: 700;
        font-size: 20px;
        border-radius: inherit;
        padding: 0 10px;
    }
    

    .primary-btn:hover .text-wrap{
        background-color: #6B0B18;
    }

    .primary-btn:active .text-wrap{
        background-color: #911627;
        box-shadow: inset 2px -3px rgba(0, 0, 0, 0.4);
    }

    .primary-btn:disabled{
        opacity: 0.40 !important;
        cursor: not-allowed;
    }
    
    /*SECONDERY BTN*/
    
    .secondary-btn {
        background-color: #FAF9F9;
        border: 2px solid #911627;
        border-radius: 6px;
        padding: 3.6px 8px;
        cursor: pointer;
        transition: background-color 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #911627;
        font-family: 'Alef', sans-serif;
        font-weight: 700;
        font-size: 18px;
        
    }

    .secondary-btn:hover {
        background-color: #FFF4F4;
        color: #911627;
        box-shadow:  -1px 1px rgba(0, 0, 0, 0.2);
    }

    .secondary-btn:active {
        background-color: #FFF4F4;
        box-shadow: inset 1px -2px rgba(0, 0, 0, 0.2);
    }

    .secondary-btn-disabled {
        background-color: #FAF9F9;
        opacity: 0.3;
        cursor: not-allowed;
    }

    .btn-large {
        padding: 4px !important;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);

    }

    .btn-large .text-wrap {
        padding: 4px 12px !important;
    }
    
</style>

@* מטרת הקומפוננטה: *@
@* כפתור ראשי או משני, תלוי באפיון *@

<button  type="@Type" 
         form="@Form" 
         class="btn @(Variant == "primary" ? "primary-btn" : "secondary-btn") @(Disabled ? "btn-disabled" : "") @AdditionalClass"
        disabled="@Disabled"
        @onclick="OnClick">
    @if (!string.IsNullOrEmpty(Icon)) // אם יש אייקון
    { 
        <span class="text-wrap" style="display: flex; align-items: center; gap: 6px;">
            @Text
            @((MarkupString)Icon) @* מתייחס למה שכתוב כמו html כדי שאוכל להשתמש בsvg לאייקון*@
            </span>
    }
    else
    {
        <span class="text-wrap">@Text</span>
    }

</button>



@code {
    [Parameter] public string Variant { get; set; } // זה מה שיחליט אם הכפתור נראה כמו כפתור ראשי או משני
    [Parameter] public string Text { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public string Type { get; set; } = "button"; // רלוונטי למקרה בו כפתור ״שמירה״ הוא מסוג submit ונצטרך לשנות
    [Parameter] public string Form { get; set; } = ""; // רלוונטי למקרה בו כפתור ״שמירה״ הוא מסוג submit ונצטרך לשנות
    [Parameter] public string Icon { get; set; } = ""; // רלוונטי לשמירת שינויים ששם יש גם אייקון
    [Parameter] public string AdditionalClass { get; set; } = "";


}