@using AuthTemplate.Shared.EditGameContentDTOs

@* קומפוננטת של פריט *@

<style>
    .item-card-wrapper {
        position: relative;
        margin: 10px 32px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 134px;
        box-sizing: border-box;
    }

    .item-box {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    /* כפתור הפח */
    .delete-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #000000;
        padding: 0;
        opacity: 0;  /* ברירת מחדל: הפח שקוף ולא ניתן ללחוץ עליו */
        pointer-events: none;
        transition: opacity 0.15s ease-in-out, background-color 0.15s ease-in-out;
    }

    .item-card-wrapper .tooltip-wrapper.item-delete-btn {
        position: absolute;
        top: 40%;
        right: 134px;
        transform: translateY(-50%);
        z-index: 30;
    }

    .item-card-wrapper .tooltip-wrapper .tooltip-box.item-delete-btn {
        margin-top: 14px;
    }
    /*איך הפח נראה במידה וניתן למחוק את הפריט*/
    .item-card-wrapper:hover .delete-btn:not(:disabled) {
        opacity: 1;
        pointer-events: auto;
    }
    .item-card-wrapper:focus  .delete-btn:not(:disabled) {
        opacity: 1;
        pointer-events: auto;
        border: 2px solid blue;
    }
    /* איך הפח נראה במידה ולא ניתן למחוק את הפריט*/
    .item-card-wrapper:hover .delete-btn:disabled {
        opacity: 0.3 !important;
        pointer-events: none !important;
    }

    /* כיסוי אדום - מוצג בעת הובר על הפח */
    .red-overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.15s ease-in-out;
        z-index: 10;
    }

    .item-card-wrapper:has(.delete-btn:hover:not(:disabled)) .red-overlay {
        opacity: 1;
    }

    /* תוכן הפריט */
    .item-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }

    .item-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
    
    /* איקס למחיקת תוכן של פריט */
    .remove-content-btn-item {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.08s ease-in-out;
        top: -1px;
        right: -1px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        z-index: 10;
        background: none;
        border: none;
        outline: none;
    }
    .item-card-wrapper:hover .remove-content-btn-item,
    .item-card-wrapper:focus-within .remove-content-btn-item { 
        opacity: 1;
        pointer-events: auto;
    }
    
    /* חיווי ויזואלי לטעינת תמונה */
    .upload-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        background: none;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    .upload-btn:focus {
        border: 2px solid blue;
    }

    .upload-btn span {
        font-size: 10px;
        text-align: center;
        color: black;
    }

    /* כפתורי רדיו לטקסט או תמונה */
    .item-type-radios {
        display: flex;
        gap: 12px;
        direction: ltr;
        margin-top: 8px;
        height: 20px;
        z-index: 20;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.15s ease-in-out;
    }

    .item-card-wrapper:hover .item-type-radios {
        opacity: 1;
        pointer-events: auto;
    }

    .radio-label {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
    }

    .radio-label input[type="radio"] {
        appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 0.1px solid black;
        background-color: #D9D9D9;
        box-shadow: inset 0 0.2px 0.2px rgba(0, 0, 0, 0.25);
        position: relative;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
    }

    .radio-label input[type="radio"]:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #555;
    }

    .radio-label:has(input:disabled) {
        opacity: 0.3;
        cursor: not-allowed;
    }
    
    .item-box.invalid { 
        outline: 2.5px solid #FF8080;
    }

    .upload-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .spinner {
        width: 30px;
        height: 30px;
        border: 3px solid #eee;
        border-top: 3px solid #911627;
        border-radius: 50%;
        animation: spin 0.2s linear infinite;
    }

    
</style>


<div class="item-card-wrapper">

    <Tooltip Text="מחיקת פריט" MaxWidth="100" AdditionalClass="item-delete-btn">
        <button class="delete-btn"
                type="button"
                @onclick="OnDelete"
                @onclick:stopPropagation="true"
                disabled="@(!CanDelete)"
                aria-label="מחיקת פריט">
            @* אייקון פח *@
            <svg width="20" height="22" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.20868 18C3.05766 18 2.28446 17.2618 2.22295 16.1545L1.63427 4.22318H0.562328C0.263591 4.22318 0 3.97425 0 3.66524C0 3.36481 0.263591 3.1073 0.562328 3.1073H4.39319V1.83691C4.39319 0.695279 5.14882 0 6.39649 0H9.58594C10.8336 0 11.5892 0.695279 11.5892 1.83691V3.1073H15.4377C15.7452 3.1073 16 3.35622 16 3.66524C16 3.96567 15.7452 4.22318 15.4377 4.22318H14.3657L13.777 16.1459C13.7155 17.2618 12.9336 18 11.7913 18H4.20868ZM5.59692 1.90558V3.1073H10.3943V1.90558C10.3943 1.41631 10.0516 1.09871 9.51565 1.09871H6.46678C5.93959 1.09871 5.59692 1.41631 5.59692 1.90558ZM4.31411 16.8841H11.6771C12.1867 16.8841 12.5645 16.5236 12.5821 16.0258L13.1532 4.22318H2.81164L3.40912 16.0258C3.43548 16.515 3.82208 16.8841 4.31411 16.8841ZM5.52663 15.4249C5.25426 15.4249 5.06096 15.2532 5.05217 14.9871L4.79736 6.18884C4.78858 5.92275 4.98188 5.75107 5.27183 5.75107C5.53542 5.75107 5.73751 5.92275 5.74629 6.18884L6.0011 14.9871C6.00988 15.2446 5.81658 15.4249 5.52663 15.4249ZM8.00439 15.4249C7.71444 15.4249 7.51236 15.2446 7.51236 14.9871V6.18884C7.51236 5.93133 7.71444 5.75107 8.00439 5.75107C8.29434 5.75107 8.48764 5.93133 8.48764 6.18884V14.9871C8.48764 15.2446 8.29434 15.4249 8.00439 15.4249ZM10.4734 15.4335C10.1746 15.4335 9.99012 15.2446 9.9989 14.9871L10.2537 6.18884C10.2625 5.92275 10.4646 5.75107 10.7282 5.75107C11.0181 5.75107 11.2114 5.93133 11.2026 6.19743L10.9478 14.9871C10.939 15.2532 10.7457 15.4335 10.4734 15.4335Z" fill="black"/>
            </svg>
        </button>
    </Tooltip>

    @* כרטיס הפריט עצמו *@
    <div class="item-box">

        @* כיסוי אדום בהובר על הפח *@
        <svg class="red-overlay" width="134" height="74" viewBox="0 0 134 74" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="134" height="74" fill="#FF8080" fill-opacity="0.7"/>
        </svg>

        @* SVG מעטפה *@
        <svg width="134" height="75" viewBox="0 0 134 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_124_19088" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="134" height="75">
                <rect width="133.629" height="74.0493" fill="white"/>
            </mask>
            <g mask="url(#mask0_124_19088)">
                <mask id="mask1_124_19088" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="-1" width="252" height="141">
                    <path d="M251.938 -0.000976562H0V139.586H251.938V-0.000976562Z" fill="white"/>
                </mask>
                <g mask="url(#mask1_124_19088)">
                    <path d="M197.941 -392.811L192.798 -398.027L-212.744 13.1599L-207.589 18.3756L-206.303 17.0748L-206.316 17.0621L197.941 -392.811Z" fill="#BA3227"/>
                    <path d="M204.381 -388.901L199.226 -394.117L197.94 -392.816L-206.316 17.0568L-206.303 17.0695L-201.174 22.2725L204.368 -388.914L204.381 -388.901Z" fill="#EEE8DB"/>
                    <path d="M209.524 -383.687L204.381 -388.903L204.368 -388.916L-201.174 22.2712L-196.031 27.4869L209.511 -383.7L209.524 -383.687Z" fill="#507AAF"/>
                    <path d="M214.666 -378.471L209.524 -383.686L209.511 -383.699L-196.031 27.4875L-190.876 32.716L211.446 -375.219L214.666 -378.471Z" fill="#EEE8DB"/>
                    <path d="M216.589 -370.005L211.446 -375.221L-190.875 32.7142L-194.096 35.966L-188.94 41.1944L-187.654 39.8938L-187.667 39.881L216.589 -370.005Z" fill="#BA3227"/>
                    <path d="M223.03 -366.068L217.874 -371.296L216.588 -369.996L-187.668 39.8903L-187.655 39.9031L-182.525 45.106L223.017 -366.081L223.03 -366.068Z" fill="#EEE8DB"/>
                    <path d="M228.172 -360.859V-360.872L223.03 -366.075L223.017 -366.087L-182.525 45.0994L-177.383 50.3024L228.159 -360.872L228.172 -360.859Z" fill="#507AAF"/>
                    <path d="M233.315 -355.651L228.172 -360.854L228.159 -360.867L-177.383 50.3068L-172.227 55.5353L230.094 -352.387L233.315 -355.651Z" fill="#EEE8DB"/>
                    <path d="M235.237 -347.173L230.095 -352.389L-172.227 55.5334L-175.447 58.798L-170.292 64.0138L-169.006 62.713L-169.019 62.7003L235.237 -347.173Z" fill="#BA3227"/>
                    <path d="M241.678 -343.266L236.523 -348.494L235.237 -347.181L-169.02 62.6926L-169.007 62.7053L-163.877 67.9083L241.665 -343.278L241.678 -343.266Z" fill="#EEE8DB"/>
                    <path d="M246.821 -338.042L241.678 -343.257L241.665 -343.27L-163.877 67.9167L-158.734 73.1324L246.808 -338.054L246.821 -338.042Z" fill="#507AAF"/>
                    <path d="M251.963 -332.833L246.821 -338.048L246.808 -338.061L-158.734 73.1257L-153.579 78.3414L248.756 -329.581L251.963 -332.833Z" fill="#EEE8DB"/>
                    <path d="M253.9 -324.36L248.757 -329.576L-153.577 78.3465L-156.785 81.6111L-151.643 86.8395L-150.357 85.5261H-150.37L253.9 -324.36Z" fill="#BA3227"/>
                    <path d="M260.329 -320.435L255.173 -325.651L253.9 -324.35L-150.369 85.5358H-150.356L-145.226 90.7388L260.316 -320.435H260.329Z" fill="#EEE8DB"/>
                    <path d="M265.471 -315.226L260.329 -320.442H260.316L-145.227 90.7321L-140.084 95.9478L265.458 -315.239L265.471 -315.226Z" fill="#507AAF"/>
                    <path d="M270.612 -310.016L265.469 -315.231L265.456 -315.244L-140.086 95.9426L-134.93 101.171L267.404 -306.751L270.612 -310.016Z" fill="#EEE8DB"/>
                    <path d="M272.548 -301.555L267.405 -306.758L-134.929 101.164L-138.137 104.416L-132.981 109.644L-131.708 108.343V108.331L272.548 -301.555Z" fill="#BA3227"/>
                    <path d="M278.976 -297.62H278.989L273.833 -302.849L272.547 -301.548L-131.709 108.338V108.351L-126.566 113.554L278.976 -297.633V-297.62Z" fill="#EEE8DB"/>
                    <path d="M284.12 -292.4L278.977 -297.616V-297.628L-126.565 113.558H-126.578L-121.435 118.761L284.107 -292.413L284.12 -292.4Z" fill="#507AAF"/>
                    <path d="M289.262 -287.196L284.12 -292.399L284.107 -292.412L-121.436 118.762L-116.28 123.99L286.055 -283.932L289.262 -287.196Z" fill="#EEE8DB"/>
                    <path d="M291.196 -278.726L286.054 -283.941L-116.281 123.981L-119.488 127.245L-114.333 132.461L-113.047 131.16L-113.06 131.148L291.196 -278.726Z" fill="#BA3227"/>
                    <path d="M297.637 -274.807L292.482 -280.036L291.196 -278.722L-113.061 131.151L-113.048 131.164L-107.918 136.367L297.624 -274.82L297.637 -274.807Z" fill="#EEE8DB"/>
                    <path d="M302.78 -269.59L297.637 -274.806L297.624 -274.819L-107.918 136.368L-102.775 141.584L302.767 -269.603L302.78 -269.59Z" fill="#507AAF"/>
                    <path d="M307.922 -264.374L302.78 -269.59L302.767 -269.603L-102.775 141.584L-97.6327 146.813L304.702 -261.122L307.922 -264.374Z" fill="#EEE8DB"/>
                    <path d="M309.845 -255.912L304.702 -261.128L-97.6322 146.807L-100.84 150.059L-95.6842 155.287L-94.3985 153.987L-94.4115 153.974L309.845 -255.912Z" fill="#BA3227"/>
                    <path d="M316.286 -251.979L311.13 -257.207L309.844 -255.906L-94.4121 153.98L-94.3991 153.993L-89.2695 159.183L316.273 -251.991L316.286 -251.979Z" fill="#EEE8DB"/>
                    <path d="M321.428 -246.775L316.286 -251.978L316.273 -251.991L-89.2695 159.183L-84.1269 164.399L321.415 -246.788L321.428 -246.775Z" fill="#507AAF"/>
                    <path d="M326.571 -241.561L321.428 -246.776L321.415 -246.789L-84.127 164.398L-78.9713 169.626L323.35 -238.296L326.571 -241.561Z" fill="#EEE8DB"/>
                    <path d="M328.493 -233.097L323.351 -238.3L-78.9708 169.622L-82.1914 172.874L-77.0358 178.103L-75.7501 176.802L-75.7631 176.789L328.493 -233.097Z" fill="#BA3227"/>
                    <path d="M334.934 -229.162L329.778 -234.39L328.493 -233.089L-75.7637 176.797L-75.7507 176.809L-70.621 182.012L334.921 -229.174L334.934 -229.162Z" fill="#EEE8DB"/>
                    <path d="M340.077 -223.956L334.934 -229.172L334.921 -229.185L-70.6211 182.002L-65.4784 187.218L340.064 -223.969L340.077 -223.956Z" fill="#507AAF"/>
                    <path d="M345.219 -218.732L340.077 -223.948L340.064 -223.961L-65.4785 187.226L-60.3229 192.441L341.999 -215.481L345.219 -218.732Z" fill="#EEE8DB"/>
                    <path d="M347.142 -210.271L341.999 -215.486L-60.3223 192.436L-63.543 195.7L-58.3873 200.929L-57.1017 199.615L-57.1147 199.603L347.142 -210.271Z" fill="#BA3227"/>
                    <path d="M353.584 -206.354L348.429 -211.569L347.143 -210.269L-57.1133 199.605L-57.1003 199.617L-51.9706 204.82L353.571 -206.366L353.584 -206.354Z" fill="#EEE8DB"/>
                    <path d="M358.727 -201.135L353.584 -206.351L353.571 -206.364L-51.9707 204.823L-46.8281 210.039L358.714 -201.148L358.727 -201.135Z" fill="#507AAF"/>
                    <path d="M363.868 -195.919L358.725 -201.135L358.712 -201.147L-46.8301 210.039L-41.6745 215.268L360.66 -192.667L363.868 -195.919Z" fill="#EEE8DB"/>
                    <path d="M365.804 -187.454L360.661 -192.669L-41.6732 215.265L-44.8809 218.517L-39.7382 223.746L-38.4525 222.445L-38.4655 222.432L365.804 -187.454Z" fill="#BA3227"/>
                    <path d="M372.231 -183.524L367.075 -188.752L365.803 -187.452L-38.4668 222.434L-38.4538 222.447L-33.3241 227.65L372.218 -183.537L372.231 -183.524Z" fill="#EEE8DB"/>
                    <path d="M377.374 -178.304L372.231 -183.519L372.218 -183.532L-33.3242 227.655L-28.1816 232.858L377.361 -178.317L377.374 -178.304Z" fill="#507AAF"/>
                    <path d="M382.518 -173.104L377.375 -178.307L377.362 -178.319L-28.1797 232.855L-23.024 238.083L379.31 -169.839L382.518 -173.104Z" fill="#EEE8DB"/>
                    <path d="M384.452 -164.629L379.31 -169.845L-23.0248 238.077L-26.2324 241.342L-21.0768 246.558L-19.7911 245.257L-19.8041 245.244L384.452 -164.629Z" fill="#BA3227"/>
                    <path d="M390.893 -160.71L385.737 -165.939L384.452 -164.625L-19.8047 245.248L-19.7917 245.261L-14.662 250.463L390.88 -160.723L390.893 -160.71Z" fill="#EEE8DB"/>
                    <path d="M396.023 -155.494L390.893 -160.709L390.88 -160.722L-14.6621 250.465L-9.53245 255.68L396.023 -155.506V-155.494Z" fill="#507AAF"/>
                    <path d="M401.166 -150.285L396.024 -155.5V-155.513L-9.53125 255.674L-4.37561 260.889L397.959 -147.033L401.166 -150.285Z" fill="#EEE8DB"/>
                    <path d="M403.101 -141.808L397.958 -147.024L-4.37632 260.898L-7.58398 264.163L-2.42835 269.391L-1.14268 268.09L-1.15568 268.078L403.101 -141.808Z" fill="#BA3227"/>
                    <path d="M409.541 -137.878V-137.891L404.386 -143.107L403.1 -141.806L-1.15625 268.08L-1.14325 268.093L3.98641 273.283L409.529 -137.891L409.541 -137.878Z" fill="#EEE8DB"/>
                    <path d="M414.684 -132.675L409.541 -137.878L409.528 -137.891L3.98633 273.283L9.12899 278.499L414.671 -132.688L414.684 -132.675Z" fill="#507AAF"/>
                    <path d="M419.827 -127.464L414.684 -132.68L414.671 -132.692L9.12891 278.494L14.2715 283.723L416.606 -124.199L419.827 -127.464Z" fill="#EEE8DB"/>
                    <path d="M421.749 -119L416.607 -124.203L14.2721 283.719L11.0645 286.971L16.2201 292.199L17.5058 290.899L17.4928 290.886L421.749 -119Z" fill="#BA3227"/>
                    <path d="M428.19 -115.062L423.034 -120.29L421.749 -118.989L17.4922 290.897L17.5052 290.909L22.6348 296.112L428.177 -115.074L428.19 -115.062Z" fill="#EEE8DB"/>
                    <path d="M433.332 -109.856L428.19 -115.072L428.177 -115.084L22.6348 296.102L27.7774 301.305L433.319 -109.869L433.332 -109.856Z" fill="#507AAF"/>
                    <path d="M438.477 -104.66L433.334 -109.863L433.321 -109.875L27.7793 301.299V301.311L32.9349 306.527L435.256 -101.395L438.477 -104.66Z" fill="#EEE8DB"/>
                    <path d="M440.398 -96.1739L435.255 -101.39L32.9335 306.533L29.7129 309.797L34.8685 315.013L36.1542 313.712L36.1412 313.699L440.398 -96.1739Z" fill="#BA3227"/>
                    <path d="M446.838 -92.2569L441.683 -97.4727L440.397 -96.1719L36.1406 313.701L36.1536 313.714L41.2833 318.917L446.825 -92.2697L446.838 -92.2569Z" fill="#EEE8DB"/>
                    <path d="M451.983 -87.0425L446.84 -92.2583L446.827 -92.271L41.2852 318.916L46.4278 324.131L451.97 -87.0553L451.983 -87.0425Z" fill="#507AAF"/>
                    <path d="M457.125 -81.8223L451.983 -87.038L451.97 -87.0508L46.4277 324.136L51.5834 329.364L453.905 -78.5705L457.125 -81.8223Z" fill="#EEE8DB"/>
                    <path d="M459.046 -73.3531L453.903 -78.5688L51.582 329.366L48.3613 332.618L53.517 337.846L54.8026 336.546L54.7896 336.533L459.046 -73.3531Z" fill="#BA3227"/>
                    <path d="M465.487 -69.4273L460.331 -74.6558L459.045 -73.355L54.7891 336.531L54.8021 336.544L59.9317 341.734L465.474 -69.44L465.487 -69.4273Z" fill="#EEE8DB"/>
                    <path d="M470.629 -64.2311L465.487 -69.4341L465.474 -69.4468L59.9316 341.727L65.0743 346.943L470.616 -64.2311H470.629Z" fill="#507AAF"/>
                    <path d="M475.774 -59.0109L470.631 -64.2266H470.618L65.0762 346.947L70.2318 352.176L472.566 -55.7463L475.774 -59.0109Z" fill="#EEE8DB"/>
                    <path d="M477.708 -50.5451L472.566 -55.748L70.2311 352.174L67.0234 355.426L72.1661 360.654L73.4518 359.354L73.4388 359.341L477.708 -50.5451Z" fill="#BA3227"/>
                    <path d="M484.137 -46.6177L478.995 -51.8462L477.709 -50.5455L73.4395 359.34L73.4525 359.353L78.5821 364.556L484.124 -46.6305L484.137 -46.6177Z" fill="#EEE8DB"/>
                    <path d="M489.28 -41.4082L484.137 -46.624L484.124 -46.6367L78.582 364.55L83.7247 369.766L489.267 -41.421L489.28 -41.4082Z" fill="#507AAF"/>
                    <path d="M489.28 -41.4003L489.267 -41.4131L83.7246 369.774L88.8802 374.989L494.422 -36.1846L489.28 -41.4003Z" fill="#EEE8DB"/>
                </g>
            </g>
            <rect x="3.4043" y="3.40771" width="126.964" height="68.1285" fill="white"/>
        </svg>

        
        @if (IsUploading) // חיווי ויזואלי לטעינה של תמונה
        {
            <div class="upload-overlay">
                <div class="spinner"></div>
            </div>
        }


        @* תוכן הכרטיס — טקסט או תמונה *@
        <div class="item-content">
            @if (Item.IsImage)
            {
                @if (!string.IsNullOrWhiteSpace(Item.Content))
                {
                    <img src="uploadedFiles/@Item.Content" alt="פריט" class="item-image"
                         @onclick="() => showImagePopup = true"/>
                    <span class="remove-content-btn-item" @onclick="OnImageDelete" @onclick:stopPropagation="true">
                        <svg width="13" height="13" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 10C4.30824 10 3.66056 9.86945 3.05697 9.60834C2.45676 9.35063 1.92608 8.99118 1.4649 8.53001C1.00712 8.07223 0.647677 7.54323 0.386572 6.94303C0.128857 6.33944 0 5.69176 0 5C0 4.30824 0.128857 3.66056 0.386572 3.05697C0.647677 2.45337 1.00712 1.92269 1.4649 1.4649C1.92608 1.00712 2.45676 0.649373 3.05697 0.391658C3.66056 0.130553 4.30824 0 5 0C5.69176 0 6.33944 0.130553 6.94303 0.391658C7.54663 0.649373 8.07731 1.00712 8.5351 1.4649C8.99288 1.92269 9.35063 2.45337 9.60834 3.05697C9.86945 3.66056 10 4.30824 10 5C10 5.69176 9.86945 6.33944 9.60834 6.94303C9.35063 7.54323 8.99288 8.07223 8.5351 8.53001C8.07731 8.99118 7.54663 9.35063 6.94303 9.60834C6.33944 9.86945 5.69176 10 5 10ZM5 8.9471C5.54595 8.9471 6.05629 8.84368 6.53103 8.63683C7.00916 8.43337 7.42964 8.15192 7.79247 7.79247C8.15531 7.42964 8.43845 7.01085 8.64191 6.53611C8.84537 6.05799 8.9471 5.54595 8.9471 5C8.9471 4.45405 8.84537 3.94371 8.64191 3.46897C8.43845 2.99084 8.15531 2.57206 7.79247 2.21261C7.42964 1.84978 7.00916 1.56663 6.53103 1.36317C6.05629 1.15632 5.54595 1.0529 5 1.0529C4.45405 1.0529 3.94201 1.15632 3.46389 1.36317C2.98915 1.56663 2.57036 1.84978 2.20753 2.21261C1.84469 2.57206 1.56155 2.99084 1.35809 3.46897C1.15463 3.94371 1.0529 4.45405 1.0529 5C1.0529 5.54595 1.15463 6.05799 1.35809 6.53611C1.56155 7.01085 1.84469 7.42964 2.20753 7.79247C2.57036 8.15192 2.98915 8.43337 3.46389 8.63683C3.94201 8.84368 4.45405 8.9471 5 8.9471ZM3.60631 7.20244C3.47745 7.20244 3.37233 7.16345 3.29095 7.08545C3.20956 7.00407 3.16887 6.90573 3.16887 6.79044C3.16887 6.67854 3.20787 6.57002 3.28586 6.4649L4.39471 4.94914L3.34181 3.50966C3.25025 3.39437 3.20448 3.27908 3.20448 3.16378C3.20448 3.04171 3.24856 2.93998 3.33672 2.8586C3.42489 2.77382 3.5334 2.73143 3.66226 2.73143C3.76399 2.73143 3.84707 2.75178 3.9115 2.79247C3.97931 2.83316 4.04883 2.90777 4.12004 3.01628L5.01526 4.33876H5.04578L5.92065 3.01628C5.98847 2.91116 6.05459 2.83825 6.11902 2.79756C6.18684 2.75348 6.26823 2.73143 6.36317 2.73143C6.49203 2.73143 6.59885 2.77213 6.68362 2.85351C6.7684 2.9315 6.81078 3.02984 6.81078 3.14852C6.81078 3.26043 6.7684 3.37063 6.68362 3.47915L5.58494 4.96948L6.67854 6.44964C6.75992 6.55476 6.80061 6.66328 6.80061 6.77518C6.80061 6.90064 6.75822 7.00407 6.67345 7.08545C6.58867 7.16345 6.47847 7.20244 6.34283 7.20244C6.24449 7.20244 6.16311 7.1821 6.09868 7.1414C6.03425 7.09732 5.96473 7.01933 5.89013 6.90743L4.99491 5.59512H4.96439L4.059 6.90743C3.9844 7.01933 3.91489 7.09732 3.85046 7.1414C3.78603 7.1821 3.70465 7.20244 3.60631 7.20244Z" fill="black"/>
                        </svg>
                    </span>
                }
                else
                {
                    <label class="upload-btn" @onclick:stopPropagation="true">
                        <svg width="31" height="23" viewBox="0 0 31 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.39844 20.2617C2.26562 20.2617 1.41406 19.9805 0.84375 19.418C0.28125 18.8555 0 18.0195 0 16.9102V3.35156C0 2.23438 0.28125 1.39844 0.84375 0.84375C1.41406 0.28125 2.26562 0 3.39844 0H22.6641C23.7969 0 24.6445 0.28125 25.207 0.84375C25.7695 1.40625 26.0508 2.24219 26.0508 3.35156V9.84375C25.918 9.82812 25.7852 9.81641 25.6523 9.80859C25.5195 9.79297 25.3867 9.78516 25.2539 9.78516C25.1133 9.78516 24.9766 9.79297 24.8438 9.80859C24.7109 9.81641 24.5742 9.82812 24.4336 9.84375V3.43359C24.4336 2.83203 24.2773 2.37891 23.9648 2.07422C23.6523 1.76172 23.2109 1.60547 22.6406 1.60547H3.42188C2.84375 1.60547 2.39844 1.76172 2.08594 2.07422C1.78125 2.37891 1.62891 2.83203 1.62891 3.43359V15.9023L5.01562 12.8086C5.24219 12.5898 5.47266 12.4297 5.70703 12.3281C5.94141 12.2266 6.18359 12.1758 6.43359 12.1758C6.70703 12.1758 6.96484 12.2305 7.20703 12.3398C7.45703 12.4492 7.69922 12.6094 7.93359 12.8203L9.99609 14.6953L15.0234 10.207C15.2812 9.97266 15.5469 9.80469 15.8203 9.70312C16.1016 9.59375 16.3945 9.53906 16.6992 9.53906C17.0039 9.53906 17.2969 9.59766 17.5781 9.71484C17.8672 9.82422 18.1367 9.99609 18.3867 10.2305L20.2383 11.9531C19.6211 12.5781 19.1328 13.3086 18.7734 14.1445C18.4219 14.9727 18.2461 15.8555 18.2461 16.793C18.2461 17.4258 18.3281 18.0312 18.4922 18.6094C18.6562 19.1953 18.8867 19.7461 19.1836 20.2617H3.39844ZM8.21484 10.2539C7.73047 10.2539 7.28906 10.1367 6.89062 9.90234C6.5 9.66016 6.1875 9.34375 5.95312 8.95312C5.71875 8.55469 5.60156 8.11719 5.60156 7.64062C5.60156 7.16406 5.71875 6.73047 5.95312 6.33984C6.1875 5.94141 6.5 5.625 6.89062 5.39062C7.28906 5.14844 7.73047 5.02734 8.21484 5.02734C8.69141 5.02734 9.125 5.14844 9.51562 5.39062C9.91406 5.625 10.2305 5.94141 10.4648 6.33984C10.6992 6.73047 10.8164 7.16406 10.8164 7.64062C10.8164 8.11719 10.6992 8.55469 10.4648 8.95312C10.2305 9.34375 9.91406 9.66016 9.51562 9.90234C9.125 10.1367 8.69141 10.2539 8.21484 10.2539ZM25.2656 22.3828C24.4922 22.3828 23.7695 22.2383 23.0977 21.9492C22.4258 21.6602 21.832 21.2578 21.3164 20.7422C20.8008 20.2266 20.3984 19.6328 20.1094 18.9609C19.8203 18.2891 19.6758 17.5664 19.6758 16.793C19.6758 15.7773 19.9297 14.8477 20.4375 14.0039C20.9453 13.1602 21.6211 12.4844 22.4648 11.9766C23.3086 11.4688 24.2422 11.2148 25.2656 11.2148C26.2734 11.2148 27.1992 11.4688 28.043 11.9766C28.8945 12.4844 29.5703 13.1602 30.0703 14.0039C30.5781 14.8477 30.832 15.7773 30.832 16.793C30.832 17.5586 30.6836 18.2773 30.3867 18.9492C30.0977 19.6211 29.6953 20.2148 29.1797 20.7305C28.6641 21.2461 28.0703 21.6484 27.3984 21.9375C26.7266 22.2344 26.0156 22.3828 25.2656 22.3828ZM25.2656 20.3086C25.4609 20.3086 25.6172 20.25 25.7344 20.1328C25.8516 20.0156 25.9102 19.8594 25.9102 19.6641V17.4375H28.125C28.3203 17.4375 28.4766 17.3789 28.5938 17.2617C28.7109 17.1445 28.7695 16.9883 28.7695 16.793C28.7695 16.5977 28.7109 16.4414 28.5938 16.3242C28.4766 16.207 28.3203 16.1484 28.125 16.1484H25.9102V13.9336C25.9102 13.7383 25.8516 13.582 25.7344 13.4648C25.6172 13.3477 25.4609 13.2891 25.2656 13.2891C25.0703 13.2891 24.9141 13.3477 24.7969 13.4648C24.6797 13.582 24.6211 13.7383 24.6211 13.9336V16.1484H22.3945C22.207 16.1484 22.0508 16.207 21.9258 16.3242C21.8086 16.4414 21.75 16.5977 21.75 16.793C21.75 16.9883 21.8086 17.1445 21.9258 17.2617C22.0508 17.3789 22.207 17.4375 22.3945 17.4375H24.6211V19.6641C24.6211 19.8594 24.6797 20.0156 24.7969 20.1328C24.9141 20.25 25.0703 20.3086 25.2656 20.3086Z" fill="black"/>
                        </svg>
                        <span>תמונה במשקל של עד 4 MB</span>
                        <InputFile id="@ItemInputId" OnChange="OnImageUpload" accept="image/jpeg,image/png,image/webp" hidden/>
                    </label>
                }
            }
            else
            {
                <CustomInputSimple Value="@Item.Content"
                                   ValueChanged="v => { Item.Content = v; OnContentChanged.InvokeAsync(); }"
                                   Placeholder="שם פריט..."
                                   MaxLength="16"/>
                @if (!string.IsNullOrWhiteSpace(Item.Content)) // אם יש תוכן
                {
            <span class="remove-content-btn-item" @onclick="OnTextClear" @onclick:stopPropagation="true">
                        <svg width="14" height="14" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 10C4.30824 10 3.66056 9.86945 3.05697 9.60834C2.45676 9.35063 1.92608 8.99118 1.4649 8.53001C1.00712 8.07223 0.647677 7.54323 0.386572 6.94303C0.128857 6.33944 0 5.69176 0 5C0 4.30824 0.128857 3.66056 0.386572 3.05697C0.647677 2.45337 1.00712 1.92269 1.4649 1.4649C1.92608 1.00712 2.45676 0.649373 3.05697 0.391658C3.66056 0.130553 4.30824 0 5 0C5.69176 0 6.33944 0.130553 6.94303 0.391658C7.54663 0.649373 8.07731 1.00712 8.5351 1.4649C8.99288 1.92269 9.35063 2.45337 9.60834 3.05697C9.86945 3.66056 10 4.30824 10 5C10 5.69176 9.86945 6.33944 9.60834 6.94303C9.35063 7.54323 8.99288 8.07223 8.5351 8.53001C8.07731 8.99118 7.54663 9.35063 6.94303 9.60834C6.33944 9.86945 5.69176 10 5 10ZM5 8.9471C5.54595 8.9471 6.05629 8.84368 6.53103 8.63683C7.00916 8.43337 7.42964 8.15192 7.79247 7.79247C8.15531 7.42964 8.43845 7.01085 8.64191 6.53611C8.84537 6.05799 8.9471 5.54595 8.9471 5C8.9471 4.45405 8.84537 3.94371 8.64191 3.46897C8.43845 2.99084 8.15531 2.57206 7.79247 2.21261C7.42964 1.84978 7.00916 1.56663 6.53103 1.36317C6.05629 1.15632 5.54595 1.0529 5 1.0529C4.45405 1.0529 3.94201 1.15632 3.46389 1.36317C2.98915 1.56663 2.57036 1.84978 2.20753 2.21261C1.84469 2.57206 1.56155 2.99084 1.35809 3.46897C1.15463 3.94371 1.0529 4.45405 1.0529 5C1.0529 5.54595 1.15463 6.05799 1.35809 6.53611C1.56155 7.01085 1.84469 7.42964 2.20753 7.79247C2.57036 8.15192 2.98915 8.43337 3.46389 8.63683C3.94201 8.84368 4.45405 8.9471 5 8.9471ZM3.60631 7.20244C3.47745 7.20244 3.37233 7.16345 3.29095 7.08545C3.20956 7.00407 3.16887 6.90573 3.16887 6.79044C3.16887 6.67854 3.20787 6.57002 3.28586 6.4649L4.39471 4.94914L3.34181 3.50966C3.25025 3.39437 3.20448 3.27908 3.20448 3.16378C3.20448 3.04171 3.24856 2.93998 3.33672 2.8586C3.42489 2.77382 3.5334 2.73143 3.66226 2.73143C3.76399 2.73143 3.84707 2.75178 3.9115 2.79247C3.97931 2.83316 4.04883 2.90777 4.12004 3.01628L5.01526 4.33876H5.04578L5.92065 3.01628C5.98847 2.91116 6.05459 2.83825 6.11902 2.79756C6.18684 2.75348 6.26823 2.73143 6.36317 2.73143C6.49203 2.73143 6.59885 2.77213 6.68362 2.85351C6.7684 2.9315 6.81078 3.02984 6.81078 3.14852C6.81078 3.26043 6.7684 3.37063 6.68362 3.47915L5.58494 4.96948L6.67854 6.44964C6.75992 6.55476 6.80061 6.66328 6.80061 6.77518C6.80061 6.90064 6.75822 7.00407 6.67345 7.08545C6.58867 7.16345 6.47847 7.20244 6.34283 7.20244C6.24449 7.20244 6.16311 7.1821 6.09868 7.1414C6.03425 7.09732 5.96473 7.01933 5.89013 6.90743L4.99491 5.59512H4.96439L4.059 6.90743C3.9844 7.01933 3.91489 7.09732 3.85046 7.1414C3.78603 7.1821 3.70465 7.20244 3.60631 7.20244Z" fill="black"/>
                        </svg>
                    </span>
                }
            }
        </div>
    </div>

    @* רדיו בטונס *@
    <div class="item-type-radios">
        @if (!string.IsNullOrWhiteSpace(Item.Content) && Item.IsImage)
        {
            <Tooltip Text="מחק את התמונה הקיימת כדי לשנות לטקסט" MaxWidth="150">
                <label aria-label="טקסט" class="radio-label" @onclick:stopPropagation="true">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.088 3.456H10.098L9.576 1.296H6.318V10.71L7.83 11.25V12.24H3.258V11.25L4.77 10.71V1.296H1.512L0.99 3.456H0V0H11.088V3.456Z" fill="black"/>
                    </svg>
                    <input type="radio" name="item-type-@Index" checked="@(!Item.IsImage)" disabled/>
                </label>
            </Tooltip>
        }
        else
        {
            <label aria-label="תמונה" class="radio-label" @onclick:stopPropagation="true">
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.088 3.456H10.098L9.576 1.296H6.318V10.71L7.83 11.25V12.24H3.258V11.25L4.77 10.71V1.296H1.512L0.99 3.456H0V0H11.088V3.456Z" fill="black"/>
                </svg>
                <input type="radio"
                       name="item-type-@Index"
                       checked="@(!Item.IsImage)"
                       disabled="@(!string.IsNullOrWhiteSpace(Item.Content) && Item.IsImage)"
                       @onchange="() => { Item.IsImage = false; OnContentChanged.InvokeAsync(); }"/>
            </label>
        }

        @if (!string.IsNullOrWhiteSpace(Item.Content) && !Item.IsImage)
        {
            <Tooltip Text="מחק את הטקסט הקיים כדי להעלות תמונה" MaxWidth="150">
                <label class="radio-label" @onclick:stopPropagation="true">
                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.3059 9.57811C15.3154 10.2075 15.1604 10.6842 14.8408 11.008C14.5212 11.3364 14.037 11.5006 13.3882 11.5006H2.23971C1.70543 11.5006 1.29994 11.3478 1.02326 11.0422C0.751342 10.7412 0.605844 10.2942 0.586762 9.70125L3.16279 7.49829C3.30113 7.37514 3.44186 7.28392 3.58497 7.22463C3.72809 7.16534 3.87597 7.13569 4.02862 7.13569C4.18605 7.13569 4.34109 7.16762 4.49374 7.23147C4.65116 7.29533 4.80143 7.38655 4.94454 7.50513L6.18962 8.58609L9.25224 5.97263C9.40489 5.84037 9.5647 5.74458 9.73166 5.68529C9.9034 5.62144 10.0823 5.58951 10.2683 5.58951C10.4496 5.58951 10.6261 5.62372 10.7979 5.69213C10.9744 5.75599 11.1366 5.85177 11.2844 5.97948L15.3059 9.57811ZM5.15206 6.08894C4.85629 6.08894 4.58676 6.02052 4.34347 5.88369C4.10018 5.7423 3.90459 5.5553 3.75671 5.32269C3.6136 5.09008 3.54204 4.8301 3.54204 4.54276C3.54204 4.2691 3.6136 4.01596 3.75671 3.78335C3.90459 3.54618 4.10018 3.3569 4.34347 3.21551C4.58676 3.07412 4.85629 3.00342 5.15206 3.00342C5.44782 3.00342 5.71497 3.07412 5.95349 3.21551C6.19678 3.3569 6.38998 3.54618 6.53309 3.78335C6.68098 4.01596 6.75492 4.2691 6.75492 4.54276C6.75492 4.8301 6.68098 5.09008 6.53309 5.32269C6.38998 5.5553 6.19678 5.7423 5.95349 5.88369C5.71497 6.02052 5.44782 6.08894 5.15206 6.08894ZM2.17531 12C1.45975 12 0.918306 11.8267 0.550984 11.48C0.183661 11.138 0 10.6271 0 9.94755V2.05245C0 1.37286 0.183661 0.86203 0.550984 0.519954C0.918306 0.173318 1.45975 0 2.17531 0H13.8247C14.5498 0 15.0936 0.173318 15.4562 0.519954C15.8187 0.86203 16 1.37286 16 2.05245V9.94755C16 10.6271 15.8187 11.138 15.4562 11.48C15.0936 11.8267 14.5498 12 13.8247 12H2.17531ZM2.2254 10.8369H13.7746C14.099 10.8369 14.3494 10.7548 14.5259 10.5907C14.7024 10.4265 14.7907 10.1847 14.7907 9.86545V2.13455C14.7907 1.81072 14.7024 1.5667 14.5259 1.40251C14.3494 1.23831 14.099 1.15621 13.7746 1.15621H2.2254C1.90101 1.15621 1.65295 1.23831 1.48122 1.40251C1.30948 1.5667 1.22361 1.81072 1.22361 2.13455V9.86545C1.22361 10.1847 1.30948 10.4265 1.48122 10.5907C1.65295 10.7548 1.90101 10.8369 2.2254 10.8369Z" fill="black"/>
                    </svg>
                    <input type="radio" name="item-type-@Index" checked="@Item.IsImage" disabled/>
                </label>
            </Tooltip>
        }
        else
        {
            <label class="radio-label" @onclick:stopPropagation="true">
                <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.3059 9.57811C15.3154 10.2075 15.1604 10.6842 14.8408 11.008C14.5212 11.3364 14.037 11.5006 13.3882 11.5006H2.23971C1.70543 11.5006 1.29994 11.3478 1.02326 11.0422C0.751342 10.7412 0.605844 10.2942 0.586762 9.70125L3.16279 7.49829C3.30113 7.37514 3.44186 7.28392 3.58497 7.22463C3.72809 7.16534 3.87597 7.13569 4.02862 7.13569C4.18605 7.13569 4.34109 7.16762 4.49374 7.23147C4.65116 7.29533 4.80143 7.38655 4.94454 7.50513L6.18962 8.58609L9.25224 5.97263C9.40489 5.84037 9.5647 5.74458 9.73166 5.68529C9.9034 5.62144 10.0823 5.58951 10.2683 5.58951C10.4496 5.58951 10.6261 5.62372 10.7979 5.69213C10.9744 5.75599 11.1366 5.85177 11.2844 5.97948L15.3059 9.57811ZM5.15206 6.08894C4.85629 6.08894 4.58676 6.02052 4.34347 5.88369C4.10018 5.7423 3.90459 5.5553 3.75671 5.32269C3.6136 5.09008 3.54204 4.8301 3.54204 4.54276C3.54204 4.2691 3.6136 4.01596 3.75671 3.78335C3.90459 3.54618 4.10018 3.3569 4.34347 3.21551C4.58676 3.07412 4.85629 3.00342 5.15206 3.00342C5.44782 3.00342 5.71497 3.07412 5.95349 3.21551C6.19678 3.3569 6.38998 3.54618 6.53309 3.78335C6.68098 4.01596 6.75492 4.2691 6.75492 4.54276C6.75492 4.8301 6.68098 5.09008 6.53309 5.32269C6.38998 5.5553 6.19678 5.7423 5.95349 5.88369C5.71497 6.02052 5.44782 6.08894 5.15206 6.08894ZM2.17531 12C1.45975 12 0.918306 11.8267 0.550984 11.48C0.183661 11.138 0 10.6271 0 9.94755V2.05245C0 1.37286 0.183661 0.86203 0.550984 0.519954C0.918306 0.173318 1.45975 0 2.17531 0H13.8247C14.5498 0 15.0936 0.173318 15.4562 0.519954C15.8187 0.86203 16 1.37286 16 2.05245V9.94755C16 10.6271 15.8187 11.138 15.4562 11.48C15.0936 11.8267 14.5498 12 13.8247 12H2.17531ZM2.2254 10.8369H13.7746C14.099 10.8369 14.3494 10.7548 14.5259 10.5907C14.7024 10.4265 14.7907 10.1847 14.7907 9.86545V2.13455C14.7907 1.81072 14.7024 1.5667 14.5259 1.40251C14.3494 1.23831 14.099 1.15621 13.7746 1.15621H2.2254C1.90101 1.15621 1.65295 1.23831 1.48122 1.40251C1.30948 1.5667 1.22361 1.81072 1.22361 2.13455V9.86545C1.22361 10.1847 1.30948 10.4265 1.48122 10.5907C1.65295 10.7548 1.90101 10.8369 2.2254 10.8369Z" fill="black"/>
                </svg>
                <input type="radio"
                       name="item-type-@Index"
                       checked="@Item.IsImage"
                       disabled="@(!string.IsNullOrWhiteSpace(Item.Content) && !Item.IsImage)"
                       @onchange="() => { Item.IsImage = true; OnContentChanged.InvokeAsync(); }"/>
            </label>
        }
    </div>

</div>

@* פופאפ הגדלת תמונה *@
@if (showImagePopup)
{
    <PopUp IsVisible="@showImagePopup"
           Title="הגדלת תמונה"
           ShowButtons="false"
           OnClose="() => showImagePopup = false">
        <img src="uploadedFiles/@Item.Content" alt="פריט" style="max-width: 100%; max-height: 400px; object-fit: contain;"/>
    </PopUp>
}

@code {
    [Parameter] public ItemToSave Item { get; set; } // מופע של פריט - מכיל את כל התוכן
    [Parameter] public int Index { get; set; } // מספר הפריט בלולאה בשביל הlabel
    [Parameter] public bool CanDelete { get; set; } // האם ניתן למחוק את הפריט
    [Parameter] public string ItemInputId { get; set; } // מספר id כדי להבדיל בhtml את הפריט 
    [Parameter] public EventCallback OnDelete { get; set; } // במחיקת פריט
    [Parameter] public EventCallback OnImageDelete { get; set; } // במחיקת תמונה
    [Parameter] public EventCallback<InputFileChangeEventArgs> OnImageUpload { get; set; } // בהעלאת תמונה
    [Parameter] public EventCallback OnContentChanged { get; set; } // בשינוי של תוכן
    [Parameter] public EventCallback OnTextClear { get; set; } // מחיקת התוכן הטקסטואלי
    [Parameter] public bool IsUploading { get; set; } = false; // חיווי בזמן טעינה של תמונה
    
    bool showImagePopup = false;
    
}