
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@* כל עמוד כזה יהיה חייב את השורה הזאת למעלה - רק כניסה למורשים *@
@attribute [Authorize] 
@page "/GamesList"
@using AuthTemplate.Shared.CheckDTOs
@using AuthTemplate.Shared.Games;
@inject HttpClient Http;
@inject NavigationManager Nav;


<PageTitle>המשחקים שלי - איקס מיו</PageTitle>


<h1>המשחקים שלי</h1>



@if (user != null)
{ 
    
    <Button Variant="primary" Text="יצירת משחק חדש" OnClick='() => Nav.NavigateTo($"/EditGame/{gameIdToEdit}")' />
    
    @if (isLoading)
    {
        <p>העמוד נטען...</p>
    }

    else
    {
@if (hasGames)
{
<div class="table-wrapper">
    <table class="games-table">
        <thead>
        <tr>
            <th>שם המשחק</th>
            <th>קוד המשחק</th>
            <th>צפייה
                <Tooltip Text="צפייה במשחק שיצרת" MaxWidth="130">
                    <div class="table-question-mark" aria-label="מה זה ״צפייה״">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7.23242" cy="7.23242" r="6.73242" stroke="white"/>
                            <path d="M4.91797 4.40928L5.29457 3.43721C5.34478 3.42802 5.41097 3.41193 5.49314 3.38895C5.56161 3.37516 5.63237 3.35908 5.7054 3.34069C5.77844 3.32231 5.84691 3.30622 5.91082 3.29243C6.05233 3.26026 6.20754 3.23498 6.37644 3.2166C6.53621 3.19362 6.73706 3.18213 6.979 3.18213C7.65003 3.18213 8.2115 3.29933 8.66342 3.53373C9.25229 3.83247 9.54672 4.28059 9.54672 4.87808C9.54672 5.31011 9.36413 5.72375 8.99894 6.11902L8.04717 7.15313C7.81893 7.39672 7.69111 7.69777 7.66372 8.05626C7.64546 8.30904 7.63633 8.4722 7.63633 8.54574L6.41752 8.64915C6.41752 8.54344 6.44491 8.26998 6.49969 7.82875C6.5499 7.4197 6.83977 6.93022 7.36929 6.36031C7.90338 5.79499 8.17042 5.34688 8.17042 5.01596C8.17042 4.37711 7.67057 4.05768 6.67087 4.05768C6.27829 4.05768 5.69399 4.17488 4.91797 4.40928ZM6.57501 10.7381C6.40611 10.568 6.32166 10.3658 6.32166 10.1314C6.32166 9.89698 6.40611 9.69705 6.57501 9.5316C6.74847 9.36614 6.94932 9.28341 7.17757 9.28341C7.41037 9.28341 7.60894 9.36614 7.77328 9.5316C7.93761 9.69705 8.01978 9.89698 8.01978 10.1314C8.01978 10.3612 7.93761 10.5634 7.77328 10.7381C7.60894 10.9081 7.41037 10.9931 7.17757 10.9931C6.94476 10.9931 6.74391 10.9081 6.57501 10.7381Z" fill="white"/>
                        </svg>
                    </div>
                </Tooltip>

            </th>
            <th>פרסום
                <Tooltip Text="אפשר לאחרים לפרסם" MaxWidth="130">
                    <div class="table-question-mark" aria-label="מה זה ״פרסום״" >
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="7.23242" cy="7.23242" r="6.73242" stroke="white"/>
                            <path d="M4.91797 4.40928L5.29457 3.43721C5.34478 3.42802 5.41097 3.41193 5.49314 3.38895C5.56161 3.37516 5.63237 3.35908 5.7054 3.34069C5.77844 3.32231 5.84691 3.30622 5.91082 3.29243C6.05233 3.26026 6.20754 3.23498 6.37644 3.2166C6.53621 3.19362 6.73706 3.18213 6.979 3.18213C7.65003 3.18213 8.2115 3.29933 8.66342 3.53373C9.25229 3.83247 9.54672 4.28059 9.54672 4.87808C9.54672 5.31011 9.36413 5.72375 8.99894 6.11902L8.04717 7.15313C7.81893 7.39672 7.69111 7.69777 7.66372 8.05626C7.64546 8.30904 7.63633 8.4722 7.63633 8.54574L6.41752 8.64915C6.41752 8.54344 6.44491 8.26998 6.49969 7.82875C6.5499 7.4197 6.83977 6.93022 7.36929 6.36031C7.90338 5.79499 8.17042 5.34688 8.17042 5.01596C8.17042 4.37711 7.67057 4.05768 6.67087 4.05768C6.27829 4.05768 5.69399 4.17488 4.91797 4.40928ZM6.57501 10.7381C6.40611 10.568 6.32166 10.3658 6.32166 10.1314C6.32166 9.89698 6.40611 9.69705 6.57501 9.5316C6.74847 9.36614 6.94932 9.28341 7.17757 9.28341C7.41037 9.28341 7.60894 9.36614 7.77328 9.5316C7.93761 9.69705 8.01978 9.89698 8.01978 10.1314C8.01978 10.3612 7.93761 10.5634 7.77328 10.7381C7.60894 10.9081 7.41037 10.9931 7.17757 10.9931C6.94476 10.9931 6.74391 10.9081 6.57501 10.7381Z" fill="white"/>
                        </svg>
                    </div>
                </Tooltip>

            </th>
            <th>עריכה</th>
            <th>מחיקה</th>
        </tr>
        </thead>
        <tbody>
        @if (MyGamesList.Count > 0) // אם יש משחקים ברשימת המשחקים
        {
        @foreach (GameToTableDTO game in MyGamesList)
        {
            <tr class="@(gameToDelete != null && gameToDelete.ID == game.ID ? "selected-row" : "")">
            <td>@game.GameName</td>
            <td>@game.GameCode</td>
            <td class="watch-btn">
                @if (game.IsPublish)
                {
                <button class="table-icon" aria-label="קישור לצפייה במשחק" title="קישור לצפייה במשחק">
                    <svg width="37" height="20" viewBox="0 0 37 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.0159 4.30234C20.986 4.30234 23.3938 6.71014 23.3938 9.68027C23.3938 12.6504 20.986 15.0582 18.0159 15.0582C15.0458 15.0582 12.638 12.6504 12.6379 9.68027C12.6379 6.71014 15.0457 4.30234 18.0159 4.30234ZM16.5374 5.91562C15.7207 5.91562 15.0581 6.57756 15.0579 7.39413C15.0579 8.21092 15.7206 8.87363 16.5374 8.87363C17.354 8.87342 18.0159 8.21079 18.0159 7.39413C18.0156 6.57769 17.3538 5.91582 16.5374 5.91562Z" fill="currentColor"/>
                        <path d="M18.1895 19.0915C16.422 19.0915 14.7444 18.9101 13.1565 18.5474C11.5781 18.1846 10.1131 17.7075 8.76157 17.1161C7.41 16.5247 6.19075 15.8741 5.10382 15.1644C4.02635 14.4468 3.10483 13.7292 2.33925 13.0115C1.58313 12.2939 1.00186 11.6315 0.595446 11.0243C0.198482 10.4092 0 9.91244 0 9.53392C0 9.16329 0.203208 8.67437 0.609623 8.06716C1.01604 7.45207 1.60203 6.78572 2.36761 6.06811C3.13318 5.34262 4.0547 4.62501 5.13218 3.91529C6.20965 3.19769 7.42417 2.54711 8.77574 1.96356C10.1273 1.37213 11.5923 0.89898 13.1707 0.544119C14.7491 0.181373 16.422 0 18.1895 0C19.9758 0 21.6629 0.181373 23.2508 0.544119C24.8386 0.89898 26.3083 1.37213 27.6599 1.96356C29.0115 2.54711 30.2213 3.19769 31.2893 3.91529C32.3573 4.62501 33.2694 5.34262 34.0255 6.06811C34.7911 6.78572 35.3723 7.45207 35.7693 8.06716C36.1663 8.67437 36.3647 9.16329 36.3647 9.53392C36.3647 9.91244 36.1663 10.4092 35.7693 11.0243C35.3723 11.6315 34.7958 12.2939 34.0397 13.0115C33.293 13.7292 32.3809 14.4468 31.3035 15.1644C30.226 15.8741 29.0115 16.5247 27.6599 17.1161C26.3178 17.7075 24.8481 18.1846 23.2508 18.5474C21.6629 18.9101 19.9758 19.0915 18.1895 19.0915ZM18.1895 17.4591C19.6734 17.4591 21.0958 17.3054 22.4568 16.9978C23.8273 16.6824 25.108 16.2723 26.2989 15.7676C27.4898 15.2551 28.572 14.6991 29.5455 14.0998C30.519 13.4926 31.3507 12.8933 32.0407 12.3018C32.7401 11.7025 33.2788 11.1584 33.6569 10.6695C34.0349 10.1806 34.224 9.80203 34.224 9.53392C34.224 9.30523 34.0349 8.95431 33.6569 8.48116C33.2788 8.00802 32.7401 7.47178 32.0407 6.87246C31.3507 6.27314 30.519 5.66594 29.5455 5.05085C28.572 4.43576 27.4898 3.86798 26.2989 3.34752C25.108 2.82705 23.8273 2.40911 22.4568 2.09368C21.0958 1.77825 19.6734 1.62053 18.1895 1.62053C16.6961 1.62053 15.2642 1.77825 13.8937 2.09368C12.5327 2.40911 11.252 2.82705 10.0517 3.34752C8.86081 3.86798 7.77861 4.43576 6.8051 5.05085C5.84104 5.66594 5.00931 6.27314 4.3099 6.87246C3.61048 7.47178 3.07647 8.00802 2.70786 8.48116C2.33925 8.95431 2.15495 9.30523 2.15495 9.53392C2.15495 9.80203 2.33925 10.1806 2.70786 10.6695C3.07647 11.1584 3.61048 11.7025 4.3099 12.3018C5.00931 12.8933 5.84104 13.4926 6.8051 14.0998C7.77861 14.6991 8.86081 15.2551 10.0517 15.7676C11.252 16.2723 12.5327 16.6824 13.8937 16.9978C15.2642 17.3054 16.6961 17.4591 18.1895 17.4591Z" fill="currentColor"/>
                    </svg>
                </button>
                }
            </td>
            <td>
                @if (game.CanPublish == false)
                {
                    <Tooltip Text="יש לעמוד בתנאי הפרסום:<ul><li>מינימום 3 קטגוריות</li><li>מינימום 6 פריטים לקטגוריה</li></ul>"
                             MaxWidth="200"
                             UseFixed="true">
                    <input type="checkbox" disabled aria-label="לא ניתן לפרסם"/>
                </Tooltip>
                }
                else
                {
                <input type="checkbox"
                       aria-label="@(game.IsPublish ? "בטל פרסום" : "פרסם משחק")"
                       checked="@game.IsPublish"
                       @onchange="(() => changePublish(game))"/>
                }
            </td>
            <td class="edit-btn">
                @* כפתור עריכה שמעביר את המשתמש לעמוד הגדרות משחק של המשחק הנוכחי *@
                <NavLink href="@($"/EditGame/{game.ID}")">
                        <span class="table-icon" aria-label="קישור לעריכת התוכן״" title="מעבר לעריכת התוכן">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.031 4.45818L17.5419 1.95444L18.9519 0.565079C19.6569 -0.1296 20.4339 -0.201962 21.0669 0.449299L21.5417 0.926891C22.1892 1.57815 22.146 2.34519 21.441 3.05435L20.031 4.45818ZM3.8013 20.7397L0.607151 21.9699C0.261838 22.1146 -0.112251 21.7094 0.0316296 21.362L1.34094 18.2649L16.3333 3.1846L18.808 5.65939L3.8013 20.7397Z" fill="currentColor"/>
                            </svg>
                        </span>
                </NavLink>
            </td>
            <td class="delete-btn">
                <button class="table-icon" @onclick='() => OpenDeletePopup(game)' aria-label="מחיקת משחק" title="מחיקת משחק">
                    <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.78693 25C4.20428 25 3.14113 23.9747 3.05656 22.4368L2.24712 5.86552H0.773202C0.362438 5.86552 0 5.51979 0   5.09061C0 4.67334 0.362438 4.31569 0.773202 4.31569H6.04064V2.55126C6.04064 0.965665 7.07963 0 8.79517 0H13.1807C14.8962 0 15.9352 0.965665 15.9352 2.55126V4.31569H21.2268C21.6496 4.31569 22 4.66142 22 5.09061C22 5.50787 21.6496 5.86552 21.2268 5.86552H19.7529L18.9434 22.4249C18.8589 23.9747 17.7836 25 16.2131 25H5.78693ZM7.69577 2.64664V4.31569H14.2921V2.64664C14.2921 1.9671 13.821 1.52599 13.084 1.52599H8.89182C8.16694 1.52599 7.69577 1.9671 7.69577 2.64664ZM5.93191 23.4502H16.056C16.7567 23.4502 17.2762 22.9495 17.3004 22.258L18.0857 5.86552H3.86601L4.68753 22.258C4.72378 22.9375 5.25535 23.4502 5.93191 23.4502ZM7.59912 21.4235C7.2246 21.4235 6.95881 21.185 6.94673 20.8154L6.59638 8.59561C6.58429 8.22604 6.85008 7.9876 7.24876 7.9876C7.6112 7.9876 7.88907 8.22604 7.90115 8.59561L8.25151 20.8154C8.26359 21.1731 7.9978 21.4235 7.59912 21.4235ZM11.006 21.4235C10.6074 21.4235 10.3295 21.1731 10.3295 20.8154V8.59561C10.3295 8.23796 10.6074 7.9876 11.006 7.9876C11.4047 7.9876 11.6705 8.23796 11.6705 8.59561V20.8154C11.6705 21.1731 11.4047 21.4235 11.006 21.4235ZM14.4009 21.4354C13.9901 21.4354 13.7364 21.1731 13.7485 20.8154L14.0988 8.59561C14.1109 8.22604 14.3888 7.9876 14.7512 7.9876C15.1499 7.9876 15.4157 8.23796 15.4036 8.60753L15.0533 20.8154C15.0412 21.185 14.7754 21.4354 14.4009 21.4354Z" fill="currentColor"/>
                    </svg>
                </button>
            </td>
        </tr>
        }
        }
       
        </tbody>
    </table>
</div>

}

else
{
    <div class="empty-state-wrapper">
        <div class="empty-state">
            <div class="empty-state-bubble">
                <img src="Images/NoGames_bubbleSpeech.png" alt="בועת דיבור"/>
                <p class="empty-speech-text">משעמם לי פה בדואר...<br/>תעזרו לי להפיג את השעמום,<br/>בואו ניצור יחד משחק חדש!</p>
            </div>
            <img src="Images/NoGames.png" alt="פקיד דואר משועמם" class="empty-guard-img"/>
        </div>
    </div>
}


@if (openDeletePopUp) // בלחיצה על הפח של מחיקת משחק
{
    <PopUp IsVisible="@openDeletePopUp"
           Title="מחיקת משחק"
           ConfirmText="מחיקת משחק"
           CancelText="ביטול"
           OnConfirm="DeleteGame"
           OnCancel="ClosePopup"
           OnClose="ClosePopup"
           ShowWarningIcon="@(gameToDelete.CategoriesCount > 0)">
        @if (gameToDelete.CategoriesCount > 0)
        {
            <span>המשחק "@gameToDelete.GameName"</span>
            <span>מכיל
                @gameToDelete.CategoriesCount
                קטגוריות
                ו
                @gameToDelete.ItemsCount
                פריטים סה״כ,
            </span>
            <span>האם למחוק את המשחק בכל זאת?</span>
        }
        else
        {
            <span>האם ברצונך למחוק את המשחק "@gameToDelete.GameName"?</span>
        }
    </PopUp>
}
    }
    
}

@code {

    // פעם אחת מגדיר את הפרמטר בעמוד הראשי של הפרוייקט ואז אפשר להשתמש בפרמטר בכל ה״בנים״ של אותו עמוד ראשי
    // תמיד יקרא User כי זאת מחלקה. כל עמוד שמצריך התחברות פשוט להביא את הפרמטר הזה לשם.

    [CascadingParameter] private User user { get; set; }

    int userId = 0;

    List<GameToTableDTO> MyGamesList;
    GameToDeleteDTO gameToDelete = new GameToDeleteDTO();
    string msg = "";
    bool hasGames;
    int gameIdToEdit = 0;
    bool openDeletePopUp = false;
    bool isLoading = true;


    // לאחר התחברות המשתמש
    protected override async Task OnParametersSetAsync()
    {
        isLoading = true;
        if (user != null && user.Id > 0)
        {
            // פנייה לקונטרולר ושליפת המשחקים
            var gamesRes = await Http.GetAsync($"api/Games/CheckGames");
            if (gamesRes.IsSuccessStatusCode == true)
            {
                // השמת הנתונים במופע שפתחנו
                MyGamesList = gamesRes.Content.ReadFromJsonAsync<List<GameToTableDTO>>().Result;
                hasGames = true;
            }
            else
            {
                // נטפל במצבים שהיוזר לא רשאי לגשת אל המידע ונאכלס משתנה של הודעה בהתאם
                string error = gamesRes.Content.ReadAsStringAsync().Result;
                switch (error)
                {
                    case "No games for this user":
                        msg = "משעמם לי פה בדואר… תעזרו לי להפיג את השעמום,בואו ניצור יחד משחק חדש! ";
                        hasGames = false;
                        break;
                    case "user is not authenticated":
                        msg = "ארעה בעיה בעת אימות המשתמש";
                        break;
                }
            }
        }
        isLoading = false;
    }

    async Task OpenDeletePopup(GameToTableDTO game)
        // מטרת הפונקציה: פתיחת פופאפ מחיקת משחק עם המידע הרלוונטי
    {
        if (game.CanPublish || game.IsPublish)
            // רק אם המשחק עומד בתנאים — שולפים את המידע המפורט מהשרת
        {
            var res = await Http.GetAsync($"api/Games/GetGameToDelete/{game.ID}");
            if (res.IsSuccessStatusCode)
            {
                gameToDelete = await res.Content.ReadFromJsonAsync<GameToDeleteDTO>();
            }
        }
        else
            // אחרת — ממלאים רק את המידע הבסיסי שכבר יש לנו
        {
            gameToDelete = new GameToDeleteDTO
            {
                ID = game.ID,
                GameName = game.GameName
            };
        }
    
        openDeletePopUp = true;
    }

    void ClosePopup()
    {
        openDeletePopUp = false;
        gameToDelete = new GameToDeleteDTO();
    }

    async Task DeleteGame()
    {
        var deleteRes = await Http.DeleteAsync($"api/Games/DeleteGame/{gameToDelete.ID}");
        if (deleteRes.IsSuccessStatusCode)
        {
            GameToTableDTO gameInList = null;
            foreach (GameToTableDTO game in MyGamesList)
                // עוברים על הרשימה כדי למצוא את המשחק שנמחק
            {
                if (game.ID == gameToDelete.ID)
                {
                    gameInList = game;
                    break;
                }
            }
            if (gameInList != null)
                MyGamesList.Remove(gameInList); // כדי להוריד את המשחק ויזואלית בעמוד
            
            if (MyGamesList.Count == 0) // אם אחרי המחיקה של המשחק התרוקנה הרשימה תעדכן את המשתנה
                hasGames = false;
        }

        gameToDelete = new GameToDeleteDTO();
        openDeletePopUp = false;
    }
    
    private async Task changePublish(GameToTableDTO game)
    {
        PublishGame gameToSend = new PublishGame
        {
            // נשלח לפונקציה שמשנה את מצב הפרסום משתנה שהוא בדיוק ההפך מהמצב הקיים - שזה מה שהמשתמש רוצה לעשות
            ID = game.ID,
            IsPublish = !game.IsPublish
        };

        var userRes = await Http.PostAsJsonAsync("api/games/publishGame", gameToSend);

        if (userRes.IsSuccessStatusCode)
        {
            game.IsPublish = !game.IsPublish; // שינוי ויזואלי 
        }
        else
        {
            string error = await userRes.Content.ReadAsStringAsync(); // אם יש איזשהי בעיה
            if (error == "This game cannot be published")
            {
                game.IsPublish = false;
                game.CanPublish = false;
                msg = "המשחק אינו מאושר לפרסום";
            }
            else
            {
                ShowError(error);
            }
        }
    }

    void ShowError(string error)
    {
        switch (error)
        {
            case "It's Not Your Game":
                msg = "המשחק הזה אינו שלך...";
                break;
            case "This game cannot be published":
                msg = "המשחק אינו מאושר לפרסום";
                break;
            case "Update Failed":
                msg = "בעיה בעדכון המשחק";
                break;
        }
    }
}
